@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Playfair+Display&display=swap');
@import url(./burger/style.css);

/* STYLE GLOBALNE */
html {
    font-family: 'Libre Franklin', serif;
    font-size: 14px;
    line-height: 24px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
    color: #111C24;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* KONIEC STYLI GLOBALNYCGH */




header {
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    padding: 8px 0px;
    background-color: white;
    border-bottom: solid 2px #0000001A;
}

header + * {
    margin-top: 122px;
}

nav {
    display: flex;
    margin-left: auto;
    align-items: inherit;
}

footer {
    background-color: #F5F7F8;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 20px;
}

.wrapper {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 32px;
}

.header__flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.main__flex {
    display: flex;
    align-items: center;
}

.keep-height {
    min-height: calc(100vh - 122px - 44px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-images__wrapper{
    position: relative;
}

.footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer__leftBlock {
    display: flex;
}

.header__nav a {
    margin-right: 32px;
}

.header__nav a:last-child {
    margin: 0px;
}

.header__links {
    display: flex;
}

.vertical-dash::before {
    display: block;
    content: "";
    width: 2px;
    height: 48px;
    background-color: #0000001A;
    align-self: center;
    margin: 0px 32px;
}

.main__content {
    width: 40%;
    padding: 64px 0px;
}

.main__images {
    position: absolute;
        top: 50%;
        right: 0;
    transform: translateY(-50%);
}

.books {
    height: 55vh;
}

.kalk {
    height: 55vh;
    position: absolute;
    top: 30%;
    right: 55%;
}

.header__link {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 24px;
}

main h1 {
    margin: 0 0 32px 0;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: normal;
    line-height: 86px;
}

main p {
    margin: 16px 0px;
}

.main__text {
    margin-bottom: 32px;
}

main a {
    font-family: 'Playfair Display', serif;
}

footer p {
    margin: 0;
}

footer p:first-child {
    margin-right: 48px;
}

.pipe {
    padding: 0px 8px;
    user-select: none;
}

.btn {
    display: inline-block;
    background-color: #375C78;
    color: white;
    padding: 12px 32px;
    font-size: 15px;
}

.btn-white {
    color: #375C78;
    background-color: transparent;
}

.logo {
    height: 104px;
}

.social {
    height: 32px;
    padding: 4px;
}

@media screen and (max-width: 1220px) {
    .books {
        height: 50vh;
    }
    
    .kalk {
        height: 50vh;
        top: 25%;
        right: 35%;
    } 
}

@media screen and (max-width: 960px) {
    .wrapper {
        padding: 0px 16px;
    }

    .footer__flex {
        display: block;
    }

    .footer__leftBlock {
        display: block;
    }

    header {
        justify-content: unset;
        align-items: unset;
    }

    header + * {
        margin-top: 98px;
    }

    nav {
        flex-flow: column nowrap;
        position: fixed;
            left: 0px;
            top: 98px;
        width: 100%;
        background-color: #fff;
        height: calc(100% - 98px);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        will-change: transform;
        overflow-y: auto;
    }

    nav.active {
        transform: translateX(0%);
    }

    .header__nav {
        margin: 32px 0px;
    }

    .header__nav a {
        display: block;
        margin: 0;
        padding: 16px;
        text-align: center;
    }
    
    footer p {
        margin-bottom: 4px;
    }

    footer p:first-child {
        margin: auto;
    }

    footer p:last-child {
        margin: 0;
    }

    .burger-menu {
        display: inline-block;
        margin-left: auto;
    }

    .vertical-dash::before {
        display: none;
    }

    .main__images {
        display: none;
    }

    .main__content {
        width: 100%;
    }

    .social {
        height: 48px;
    }

    .logo {
        height: 80px;
    }
}