@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Playfair+Display&display=swap');

html {
    font-family: 'Libre Franklin', serif;
    font-size: 14px;
    line-height: 24px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
    color: #111C24;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

header {
    border-bottom: solid 2px #0000001A;
    padding: 8px 0px;
}

nav {
    display: flex;
    align-items: inherit;
}

footer {
    background-color: #F5F7F8;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 20px;
    min-height: 42px;
}

.wrapper {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 32px;
}

.header__flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.main__flex {
    display: flex;
}

.footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer__leftBlock {
    display: flex;
}

.header__nav a {
    margin-right: 32px;
}

.header__nav a:last-child {
    margin: 0px;
}

.header__links {
    display: flex;
}

.vertical-dash::before {
    display: block;
    content: "";
    width: 2px;
    height: 48px;
    background-color: #0000001A;
    align-self: center;
}

.main__images {
    position: relative;
}

header a {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 24px;
    margin: 48px 0px;
}

nav div {
    padding: 0px 16px;
}

main h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: normal;
    line-height: 86px;
}

main p {
    margin: 16px 0px;
}

main a {
    font-family: 'Playfair Display', serif;
}

footer p {
    margin: 0;
}

footer p:first-child {
    margin-right: 48px;
}

.btn {
    background-color: #375C78;
    color: white;
    padding: 12px 32px;
    font-size: 15px;
}

.lnk {
    color: #375C78;
    padding: 12px 32px;
    font-size: 15px;
}

.logo {
    height: 104px;
}

.social {
    height: 32px;
    padding: 4px;
}

@media screen and (max-width: 730px) {
    .wrapper {
        padding: 0px 16px;
    }

    .footer__flex {
        display: block;
    }

    .footer__leftBlock {
        display: block;
    }
    
    footer p {
        margin-bottom: 4px;
    }

    footer p:first-child {
        margin: auto;
    }

    footer p:last-child {
        margin: 0;
    }
}